/* Formatting specific to the StockWatcher application */
body {
	padding: 10px;
}

.contentPane {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding: 20px;
	border: 2px solid #a1a1a1;
	border-radius: 5px;
}

/* stock list header row */
.watchListHeader {
	background-color: #2062B8;
	color: white;
	font-style: italic;
}


.watchList, .addPanel, .lastUpdated {
	border: 2px solid #a1a1a1;
	border-radius: 5px;
	background: #ededec;
	padding: 10px;
}

.watchList {
	margin-bottom: 6px;
}

/* stock list Price and Change fields */
.watchListNumericColumn {
	text-align: right;
	width: 8em;
}

/* stock list Remove column */
.watchListRemoveColumn {
	text-align: center;
}

/* Add Stock panel */
.addPanel, .lastUpdated {
	margin: 10px 0px 15px 0px;
}

/* stock list, the Remove button */
.gwt-Button-remove {
	width: 50px;
}

/* Dynamic color changes for the Change field */
.noChange {
	color: black;
}

.positiveChange {
	color: green;
}

.negativeChange {
	color: red;
}